body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
}

.ilkbuton {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ilkbuton:hover,
.ilkbuton:focus {
  background-color: #404bbf;
}

a:hover,
a:focus {
  color: #404bbf;
}

a {
  text-decoration: none;
  color: #4d5ae5;
  transition: color 0.2s ease;
}

ul {
  list-style: none;
}

.hero-section {
  background-image:
    linear-gradient(to bottom, rgba(46, 47, 66, 0.7)),
    url(../images/arkaplan.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  max-width: 496px;
  margin: 0 auto 48px auto;
  text-align: center;
  color: #ffffff;
  line-height: 1.07;
}

h2 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-section {
  padding: 120px 0;
  background-color: #f4f4fd;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.team-list li {
  background-color: #ffffff;
  width: 264px;
  height: 428px;
  border-radius: 4px;
  box-shadow: 0 8px 20px rgb(0, 0, 0, 0.1);
  overflow: hidden;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}
.team-list li:hover {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.header2 {
  color: black;
  font-size: 36px;
  padding: 72px;
}

.görselalt {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  margin-top: 32px;
  padding-left: 16px;
}

.görselaltmetin {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  padding-left: 16px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-decoration: none;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-light {
  color: #2e2f42;
}

.logo-light1 {
  color: #ffffff;
}

.portfolio-section {
  padding-bottom: 120px;
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  padding: 0;
  list-style: none;
}

.portfolio-list li {
  background-color: #ffffff;
  border: 1px solid #f4f4fd;
  height: 420px;
  width: 360px;
  text-align: left;
}

.footer-section {
  background-color: #2e2f42;

  padding: 100px 0;
}

.footer-p {
  color: #ffffff;
  line-height: 1.5;
  max-width: 264px;
}

.title-nav ul a {
  color: #2e2f42;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  transition: color 0.2s ease;
}

.title-nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.title-nav ul a:hover,
.title-nav ul a:focus {
  color: #404bbf;
}

.contacts ul a {
  color: #434445;
  transition: color 0.2s ease;
}

.contacts ul a:hover,
.contacts ul a:focus {
  color: #404bbf;
}

.contacts ul {
  display: flex;

  gap: 40px;
  margin: 0;
  padding: 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
}

.benefits {
  display: flex;

  margin: 0 auto;
  justify-content: center;
  padding: 0;
  list-style: none;
  gap: 24px;
}

.benefits li {
  width: calc((100% - 72px) / 4);
  width: 264px;
}

.benefits-section {
  height: 464px;
  padding: 120px;
}
.benefits-icon {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.benefits-icon .icon {
  width: 64px;
  height: 64px;
}
.üstkısım {
  display: flex;
  align-items: center;
  height: 72px;
}

.contacts {
  margin-left: 332px;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list li:hover .overlay {
  transform: translateY(0);
}
.title {
  position: relative;
  display: inline-block;
  text-decoration: none;
  gap: 40px;
  padding-bottom: 20px;
}
.title-nav {
  margin-top: 24px;
}
.title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 4px;
  background-color: transparent;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.title:hover::after {
  background-color: #404bbf;
}
.footer-section .container {
  display: flex;
  gap: 120px;
  align-items: flex-start;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social h3 {
  color: white;
}

.social-icons {
  display: flex;
  gap: 16px;
}

.social-icons a {
  width: 40px;
  height: 40px;
  background: #4f46e5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}
.social-icons a:hover {
  background: #31d0aa;
}

.icon {
  width: 24px;
  height: 24px;
  fill: white;
}
.team-social {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 16px;
}

.team-social a {
  width: 40px;
  height: 40px;
  background: #4f46e5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.team-social .icon {
  width: 16px;
  height: 16px;
  fill: white;
}
.team-social a:hover {
  background: #31d0aa;
}
